body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.option-div {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
  display: inline-block;
}
.menuitem-div {
  background-color: #fff;
  width: 347px;
  height: 36px;
  display: flex;
  flex-direction: column;
  padding: 6px 16px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.menu-item-div,
.menuitem-div1 {
  align-self: stretch;
  padding: 6px 16px;
}
.menu-item-div {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuitem-div1 {
  background-color: #fff;
  justify-content: center;
}
.list-div,
.menuitem-div1,
.menuitem-div3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}
.menuitem-div3 {
  background-color: #fff;
  width: 347px;
  padding: 6px 16px;
  justify-content: center;
}
.list-div {
  position: relative;
  width: 100%;
  padding: 8px 0;
  justify-content: flex-start;
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
}
