body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.video-iframe {
  align-self: stretch;
  position: relative;
  height: 560px;
}
.matterhorn-popup-div {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  width: 900px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
@media screen and (max-width: 650px) {
  .video-iframe {
    height: 50.625vw !important;
  }
  .matterhorn-popup-div {
    padding: 10px;
    box-sizing: border-box;
  }
}
